 <div class="col-sm-7" style="margin-top:20px;">	
   		<md-card style="height:500px">
   			<md-card-content>
   			<md-card-actions>
   			<div class="col-xs-4 col-xs-offset-2">
   			<img md-card-image class="md-card-image" src="../assets/img/head.gif" alt="image caption" style="width:140px;">
   			</div>
   			<div class="col-xs-6">
   				<h3>USER INFO</h3>
   			</div>
   			<div class="col-xs-12">
   				<md-list>
					<md-list-item>  <div class="col-xs-2"><md-icon class="pull-right">assignment_ind</md-icon></div> <div class="col-xs-10"><h5>Surinder giri</h5> </div></md-list-item>
					<md-list-item>  <div class="col-xs-2"><md-icon class="pull-right">account_balance</md-icon></div> <div class="col-xs-10"><h5>NRTC GROUP OF COLLEGE INFORMATION TECHNOLOGHY AND ENGINNER</h5> </div></md-list-item>
					<md-list-item>  <div class="col-xs-2"><md-icon class="pull-right">content_paste</md-icon></div> <div class="col-xs-10"><h5>BA, MA,MBA,BscIT</h5> </div></md-list-item>
          <md-list-item>  <div class="col-xs-2"><md-icon class="pull-right">card_travel</md-icon></div> <div class="col-xs-10"><h5>Surinder giri</h5> </div></md-list-item>
          <md-list-item>  <div class="col-xs-2"><md-icon class="pull-right">toc</md-icon></div> <div class="col-xs-10"><h5>Surinder giri</h5> </div></md-list-item>
          <md-list-item>  <div class="col-xs-2"><md-icon class="pull-right">perm_phone_msg</md-icon></div> <div class="col-xs-10"><h5>0123456789</h5> </div></md-list-item>
          <md-list-item>  <div class="col-xs-2"><md-icon class="pull-right">location_searching</md-icon></div> <div class="col-xs-10"><h5>21 no. gali, apna mhohala, pta ni kehda nager, space city Mars</h5> </div></md-list-item>
				</md-list>
   			</div>	
   			</md-card-actions>
   			</md-card-content>
   		</md-card>
   		</div>
   		   <div class="col-sm-5 col-xs-12" style="margin-top:10px;">	
         <div class="col-xs-12">
   		<md-card>
   			<md-card-content style="padding:0px;">
   				<div class="img-back1">
            <h3>WELCOME DISCUSSSION SECTION</h3>   
          </div>
   			</md-card-content>
        <md-card-footer >
         <button md-fab md-ripple color="primary"> <md-icon>mode_edit</md-icon></button>
       <div class="col-xs-10 col-xs-offset-1" style="margin-top:10px;font-weight:bold;">
           <p>The purpose of a discussion is to present arguments and information from differing viewpoints</p>
       </div>
        </md-card-footer>
   		</md-card>
   		</div>

     <div class="col-xs-12" style="margin-top:5px;">
      <md-card>
        <md-card-content style="padding:0px;">
          <div class="img-back2">
            <h3>WELCOME DISCUSSSION SECTION</h3>   
          </div>
        </md-card-content>
        <md-card-footer >
         <button md-fab color="primary"><md-icon>mode_edit</md-icon></button>
       <div class="col-xs-10 col-xs-offset-1" style="margin-top:10px;font-weight:bold;">
           <p>The purpose of a discussion is to present arguments and information from differing viewpoints</p>
       </div>
        </md-card-footer>
      </md-card>
      </div>
        </div>